#app {
  .sidebar-container {
    width: $sideBarWidth !important;
    height: 100%;
    background-color: pink;
    background-color: $menuBg;

    // menu未收起时样式
    &-menu:not(.el-menu--collapse) {
      width: $sideBarWidth;
    }

    .el-menu {
      border: none;
    }
  }
}